@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Hanken Grotesk";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  body {
    height: auto;
  }
}
body .card {
  width: 50%;
  display: flex;
  border-radius: 32px;
  box-shadow: 0px 4px 70px 0px rgba(17, 37, 214, 0.25);
}
@media screen and (max-width: 1024px) {
  body .card {
    flex-direction: column;
    width: 100%;
  }
}
body .card__result {
  width: 50%;
  display: flex;
  padding: 56px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: linear-gradient(180deg, #7857ff 0%, #2e2be9 100%);
}
@media screen and (max-width: 1024px) {
  body .card__result {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: auto;
  }
}
body .card__result--title {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.25px;
}
body .card__result--points {
  display: flex;
  padding: 40px 45px;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(180deg, #4e21ca 0%, rgba(36, 33, 202, 0.2) 100%);
}
body .card__result--points--pontuation {
  font-size: 72px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
body .card__result--points--of {
  font-size: 18px;
  font-weight: 700;
  color: hsl(246, 100%, 73%);
}
body .card__result--message {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
body .card__result--message--title {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-weight: 700;
}
body .card__summary {
  width: 50%;
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  body .card__summary {
    width: auto;
    padding: 24px;
    margin-bottom: 48px;
  }
}
body .card__summary--title {
  color: hsl(224, 30%, 27%);
  font-size: 24px;
  font-weight: 700;
}
body .card__summary--reaction, body .card__summary--memory, body .card__summary--verbal, body .card__summary--visual {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
}
body .card__summary--reaction--title, body .card__summary--memory--title, body .card__summary--verbal--title, body .card__summary--visual--title {
  display: flex;
  gap: 8px;
  align-items: center;
}
body .card__summary--reaction--points, body .card__summary--memory--points, body .card__summary--verbal--points, body .card__summary--visual--points {
  color: hsl(224, 30%, 27%);
}
body .card__summary--reaction--points span, body .card__summary--memory--points span, body .card__summary--verbal--points span, body .card__summary--visual--points span {
  opacity: 0.6;
}
body .card__summary--reaction {
  background-color: hsla(0, 100%, 67%, 0.2);
}
body .card__summary--reaction--title {
  color: hsl(0, 100%, 67%);
}
body .card__summary--memory {
  background-color: hsla(39, 100%, 56%, 0.2);
}
body .card__summary--memory--title {
  color: hsl(39, 100%, 56%);
}
body .card__summary--verbal {
  background-color: hsla(166, 100%, 37%, 0.2);
}
body .card__summary--verbal--title {
  color: hsl(166, 100%, 37%);
}
body .card__summary--visual {
  background-color: hsla(234, 85%, 45%, 0.2);
}
body .card__summary--visual--title {
  color: hsl(234, 85%, 45%);
}
body .card__summary--continue {
  display: flex;
  border: none;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: linear-gradient(180deg, #4e21ca 0%, #2421ca 100%);
}
body .card__summary--continue:hover {
  background: linear-gradient(180deg, #2421ca 100%, #4e21ca 0%);
}
body .attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: hsl(256, 72%, 46%);
  color: hsl(0, 0%, 100%);
  padding: 12px 0;
}
body .attribution a {
  color: hsl(241, 100%, 89%);
}
body .attribution a:hover {
  color: hsl(252, 100%, 67%);
}

/*# sourceMappingURL=style.css.map */
